.navbar-brand img {
  height: 30px;
}

.jumbotron {
  text-align: center;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-header li {
  text-decoration: none;
  display: inline-block;
}

.jumbotron img {
  box-shadow: 0 4px 20px black;
}

#mainFormHeader {
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0 4px 20px lightblue;
}
